body {
    background-image: url("headphones.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
div h1, h3 {
    color: white;
    margin-left: 20px;
}
#musicSelect {
    margin-left: 20px;
}
audio {
    margin-top: 20px;
}